.carte-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px 10px 10px;
  height: 100%;
}

.carte-content .container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carte-content .page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 0;
  height: 100%;
}

.carte-content .page .menu-lunch {
  border: 4px solid #dfb66b;
  border-radius: 20px;
  padding: 20px 0 0 0;
  margin: 15px 10px;
  position: relative;
}

.carte-content .page .menu-lunch .title {
  font-family: "MontserratAlternates", Arial, Helvetica, sans-serif;
  color: #dfb66b;
  font-size: 20px;
  text-align: center;
  width: 200px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.carte-content .page .menu-lunch .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.carte-content .page .menu-lunch .wrapper .menu-item .left,
.carte-content .page .menu-lunch .menu-item .left {
  width: 40%;
}

.carte-content .page .menu-lunch .wrapper .menu-item .right,
.carte-content .page .menu-lunch .menu-item .right {
  width: 60%;
}

.carte-content .page .menu-item {
  display: flex;
  width: initial;
  justify-content: center;
  margin: 5px 0;
}

.carte-content .page .menu-lunch .menu-item {
  width: 100%;
}

.carte-content .page .menu-item .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 4px solid #dfb66b;
}

.carte-content .page .menu-item .left h2 {
  font-family: "MontserratAlternates", Arial, Helvetica, sans-serif;
  color: #dfb66b;
  font-size: 16px;
  text-align: right;
  padding: 0 10px;
  margin: 4px 0;
}

.carte-content .page .menu-item .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carte-content .page .menu-item .right p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 12px;
  text-align: left;
  padding: 0 10px;
  margin: 0px 0;
  /* white-space: nowrap; */
}

.carte-content .page .menu-item .right p.bold {
  font-size: 14px;
  font-weight: bold;
}

.carte-content .page .menu-item h2 {
  font-weight: bold;
  font-size: 16px;
}

.carte-content .page .menu-item h2 span {
  font-weight: normal;
}

.carte-content .page .menu-item p {
  font-size: 14px;
}

.carte-content .page .menu-dinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carte-content .page .menu-dinner .menu-item {
  width: 100%;
  margin: 15px 0;
}

.carte-content .page .menu-dinner .menu-item > div {
  width: 50%;
}

.carte-content .page .special {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.carte-content .page .special .menu-item {
  align-self: center;
}

.carte-content .page .special .img-wrapper {
  max-width: 200px;
  padding: 0 20px;
  order: 2;
}

.carte-content .page .special .img-wrapper img {
  width: 100%;
  margin: 0 auto;
}

.page.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carte-content .container {
  background-image: url("../../assets/images/page-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
  width: 100%;
  -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.35);
}

.carte-section .carte-container {
  width: 100%;
}

.carte-section .carte-wrapper {
  margin-bottom: 30px;
}

/* theme rolls */

.hr-rolls {
  width: 60%;
  margin: 30px auto;
  height: 1px;
  background: #d9d9d9;
}

.carte-section.rolls .carte-title {
  margin-bottom: 30px;
}

.carte-section .carte-subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #f7941d;
  padding: 0 20px;
  margin: 20px 0 10px 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .carte-content .page {
    padding: 30px 0;
  }

  .carte-content .page .menu-item h2 {
    font-size: 16px;
  }

  .carte-content .page .menu-item p {
    font-size: 16px;
  }

  .carte-content .page .menu-lunch {
    border: 4px solid #dfb66b;
    border-radius: 20px;
    padding: 20px;
    margin: 15px 30px;
    position: relative;
  }

  .carte-content .page .menu-lunch .title {
    font-family: "MontserratAlternates", Arial, Helvetica, sans-serif;
    color: #dfb66b;
    font-size: 20px;
    text-align: center;
    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }

  .carte-content .page .menu-lunch .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: baseline;
  }

  .carte-content .page .menu-lunch .wrapper .menu-item .left,
  .carte-content .page .menu-lunch .menu-item .left {
    width: initial;
  }

  .carte-content .page .menu-lunch .wrapper .menu-item .right,
  .carte-content .page .menu-lunch .menu-item .right {
    width: initial;
  }

  .carte-content .page .menu-item {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }

  .carte-content .page .menu-item .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 4px solid #dfb66b;
  }

  .carte-content .page .menu-item .left h2 {
    font-family: "MontserratAlternates", Arial, Helvetica, sans-serif;
    color: #dfb66b;
    font-size: 18px;
    text-align: right;
    padding: 0 10px;
    margin: 4px 0;
  }

  .carte-content .page .menu-item .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carte-content .page .menu-item .right p {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
    margin: 0px 0;
    white-space: nowrap;
  }

  .carte-content .page .menu-item .right p.bold {
    font-size: 16px;
    font-weight: bold;
  }

  .carte-content .page .menu-item h2 {
    font-weight: bold;
    font-size: 16px;
  }

  .carte-content .page .menu-item h2 span {
    font-weight: normal;
  }

  .carte-content .page .menu-item p {
    font-size: 14px;
  }

  .carte-content .page .menu-dinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carte-content .page .menu-dinner .menu-item {
    width: 100%;
    margin: 15px 0;
  }

  .carte-content .page .menu-dinner .menu-item > div {
    width: 50%;
  }

  .carte-content .page .special {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: initial;
    margin-bottom: 0;
    justify-content: center;
  }

  .carte-content .page .special .menu-item {
    align-self: center;
  }

  .carte-content .page .special .img-wrapper {
    max-width: 250px;
    padding: 0 20px;
    order: initial;
  }

  .carte-content .page .special .img-wrapper img {
    width: 100%;
  }
  /* .carte-content .page .menu-lunch {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  } */

  /* .carte-content .page .menu-item {
    width: 50%;
    margin-top: 20px;
  } */
  /* 
  .carte-content .page .menu-lunch .menu-item:first-child {
    width: 100%;
  } */

  /* .carte-content .page .menu-dinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  } */

  /* .carte-content .page .menu-dinner .menu-item {
    width: 100%;
    padding: 0 25%;
  }

  .carte-content .page .menu-dinner .menu-item:nth-child(3),
  .carte-content .page .menu-dinner .menu-item:nth-child(4) {
    width: 50%;
    padding: 0;
  } */

  .carte-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .carteitem {
    width: 200px;
  }

  .carte-content .carte-section:last-child .carte-items {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .carte-section .carte-wrapper {
    width: 50%;
  }

  .carte-section .carte-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .carte-section .carte-container.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .carte-section .carte-container.reverse .carte-wrapper {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  /* theme rolls */
  .carte-section.rolls .carte-items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .hr-rolls {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
