.carte-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px 10px 10px;
  height: 100%;
}

.carte-content .container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carte-content .page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 0;
  height: 100%;
}

.carte-content .page .menu-lunch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.carte-content .page .menu-item {
  margin-top: 10px;
}

.carte-content .page .menu-item h2,
.carte-content .page .menu-item p {
  width: 100%;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 0 10px;
  margin: 0;
}

.carte-content .page .menu-item h2 {
  font-weight: bold;
  font-size: 16px;
}

.carte-content .page .menu-item h2 span {
  font-weight: normal;
}

.carte-content .page .menu-item p {
  font-size: 14px;
}

.page.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carte-content .container {
  background-image: url("./../../assets/images/page-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
  width: 100%;
  -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.35);
}

.carte-section .carte-container {
  width: 100%;
}

.carte-section .carte-wrapper {
  margin-bottom: 30px;
}

/* theme rolls */

.hr-rolls {
  width: 60%;
  margin: 30px auto;
  height: 1px;
  background: #d9d9d9;
}

.carte-section.rolls .carte-title {
  margin-bottom: 30px;
}

.carte-section .carte-subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #f7941d;
  padding: 0 20px;
  margin: 20px 0 10px 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .carte-content .page {
    padding: 30px 0;
  }

  .carte-content .page .menu-item h2 {
    font-size: 16px;
  }

  .carte-content .page .menu-item p {
    font-size: 16px;
  }

  .carte-content .page .menu-lunch {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .carte-content .page .menu-item {
    width: 50%;
    margin-top: 20px;
  }

  .carte-content .page .menu-lunch .menu-item:first-child {
    width: 100%;
  }

  .carte-content .page .menu-dinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .carte-content .page .menu-dinner .menu-item {
    width: 100%;
    padding: 0 25%;
  }

  .carte-content .page .menu-dinner .menu-item:nth-child(3),
  .carte-content .page .menu-dinner .menu-item:nth-child(4) {
    width: 50%;
    padding: 0;
  }

  .carte-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .carteitem {
    width: 200px;
  }

  .carte-content .carte-section:last-child .carte-items {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .carte-section .carte-wrapper {
    width: 50%;
  }

  .carte-section .carte-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .carte-section .carte-container.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .carte-section .carte-container.reverse .carte-wrapper {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  /* theme rolls */
  .carte-section.rolls .carte-items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .hr-rolls {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
